.sidebar {
  position: fixed;
  width: 100px;
  height: 100vh;
  color: white;

  & > *:first-child {
    margin-top: 10px;
  }

  & > * {
    position: relative;
    text-align: right;
    padding-right: 10px;
    .nav-title {
      padding-right: 20px;
    }
  }

  .seperator {
    border-top: 1px;
    height: 1px;
    margin-top: 16px;
    border-color: white;
  }

  .nav-item {
    cursor: pointer;
  }

  svg {
    width: 20px;
  }

  left: -60px;
  transition: left 0.5s;

  &:hover {
    left: 0px;
    & + * {
      margin-left: 100px;
    }
  }

  & + * {
    margin-left: 40px;
    transition: margin-left 0.5s;
  }

}
