
.blessing-widget {
  min-width: 530px;
}

.blessing-grid {
  width: 100%;
}

.blessing-header th ,
.blessing-row td {
  padding-right: 5px;
}

.blessing-row {
  text-align: center;
}
.blessing-add {
  text-align: center;
  padding-top: 10px;
}
