input {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-header {
  display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

// .card-columns {
//   @include media-breakpoint-only(lg) {
//     column-count: 4;
//   }
// }


.Power {
  background-color: hsl(0deg, 86%, 94%);
  background:linear-gradient(to bottom, hsl(0deg, 86%, 94%), hsl(0deg, 100%, 90%))
}

.Power-Header {
  background-color: coral;
}

.Finesse {
  background-color: lightgrey;
}

.Finesse-Header {
  background-color: grey;
}

.Resilience {
  background-color: hsl(30, 52%, 77%);
}

.Resilience-Header {
  background-color: rgb(224, 115, 37);
}

.Intellect {
  background-color: hsl(263deg, 92%, 80%);
}

.Intellect-Header {
  background-color: purple;
}

.Wits-Header {
  background-color: rgb(226, 223, 223);
}

.Wits {
  background-color: whitesmoke;
}

.Presence-Header {
  background-color: gold;
}

.Presence {
  background-color: lightyellow;
}


.blessing-widget {
  min-width: 530px;
}

.blessing-grid {
  width: 100%;
}

.blessing-header th ,
.blessing-row td {
  padding-right: 5px;
}

.blessing-row {
  text-align: center;
}
