.right {
  float: right;
}

.Power {
  background-color: lightcoral;
}

.Power-Header {
  background-color: coral;
}

.Finesse {
  background-color: lightgrey;
}

.Finesse-Header {
  background-color: grey;
}

.Resilience {
  background-color: lightsalmon;
}

.Resilience-Header {
  background-color: rgb(224, 115, 37);
}

.Intellect {
  background-color: rgb(231, 3, 231);
}

.Intellect-Header {
  background-color: purple;
}

.Wits-Header {
  background-color: rgb(226, 223, 223);
}

.Wits {
  background-color: whitesmoke;
}

.Presence-Header {
  background-color: gold;
}

.Presence {
  background-color: lightyellow;
}

.attribute-widget {
  min-width: 300px;
}

.attribute-header {
  background-color: rgb(223, 152, 0);
}

.attribute-header,
.attribute-row {
  display: flex;
  flex-wrap: nowrap;
}

.attribute-title {
  width: 90px;
  flex: 0 0 auto;
}

.attribute-base,
.attribute-skills,
.attribute-total,
.attribute-dice {
  width: 40px;
  flex: 1 0 auto;
  text-align: center;
}

.skill-header,
.skill-row {
  display: flex;
  flex-wrap: nowrap;
}

.skill-name,
.skill-level,
.skill-attribute,
.skill-dice {
  width: 40px;
  flex: 1 0 auto;
  text-align: center;
}

.blessing-widget {
  min-width: 530px;
}

.blessing-header,
.blessing-row {
  display: flex;
  flex-wrap: nowrap;
}

.blessing-name,
.blessing-fated,
.blessing-level,
.blessing-effect {
  width: 80px;
  flex: 1 0 auto;
  text-align: center;
}

.blessing-effect {
  width: 250px;
}
