.right {
  float: right;
}

input {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}


.Power {
  background-color: hsl(0deg 86% 94%);
  background:linear-gradient(to bottom, hsl(0deg 86% 94%), hsl(0deg 100% 90%))
}

.Power-Header {
  background-color: coral;
}

.Finesse {
  background-color: lightgrey;
}

.Finesse-Header {
  background-color: grey;
}

.Resilience {
  background-color: lightsalmon;
}

.Resilience-Header {
  background-color: rgb(224, 115, 37);
}

.Intellect {
  background-color: hsl(263deg 92% 80%);
}

.Intellect-Header {
  background-color: purple;
}

.Wits-Header {
  background-color: rgb(226, 223, 223);
}

.Wits {
  background-color: whitesmoke;
}

.Presence-Header {
  background-color: gold;
}

.Presence {
  background-color: lightyellow;
}

.attribute-widget {
  min-width: 300px;
}

/* .attribute-header {
  background-color: rgb(223, 152, 0);
} */

.attribute-header,
.attribute-row {
  display: flex;
  flex-wrap: nowrap;
}

.attribute-title {
  width: 90px;
  flex: 0 0 auto;
}

.attribute-base,
.attribute-skills,
.attribute-total,
.attribute-dice {
  width: 40px;
  flex: 1 0 auto;
  text-align: center;
}

.blessing-widget {
  min-width: 530px;
}

.blessing-header,
.blessing-row {
  display: flex;
  flex-wrap: nowrap;
}

.blessing-name,
.blessing-fated,
.blessing-level,
.blessing-effect {
  width: 80px;
  flex: 1 0 auto;
  text-align: center;
}

.blessing-effect {
  width: 250px;
}
