.skill-widget {
  min-width: 350px;
}

.skill-grid {
    width: 100%;
}
.skill-delete {
    width: 25px;
}

.skill-name-input {
    width: 100%;
}

.skill-add {
  text-align: center;
  padding-top: 10px;
}
